In [88]:
import crime as cr
import pandas as pd
cr.load('dist_grad_rate', full=True)
cr.load('dist_homeless_student', full=True)

,school_year,org_code,organization_name,category,total_pupil_count_all_students,total_stable_pupil_count_all_students,total_stability_rate_all_students,total_mobile_student_count_all_students,total_student_mobility_rate_all_students,total_instances_of_mobility_all_students,...,homeless_student_mobility_rate,homeless_instances_of_mobility,homeless_mobility_incidence_rate,gifted_talented_pupil_count,gifted_talented_stable_student_count,gifted_talented_stability_rate,gifted_talented_mobile_student_count,gifted_talented_student_mobility_rate,gifted_talented_instances_of_mobility,gifted_talented_mobility_incidence_rate
0,20112012.0,9999.0,STATE TOTAL,1STATE TOTALS (INCLUDING ALTERNATIVE SCHOOLS),939283.0,705064.0,75.1,231706.0,24.7,253577.0,...,45.3,11558.0,54.2,73344.0,66620.0,90.8,6641.0,9.1,7366.0,10.0
1,20112012.0,10.0,MAPLETON 1,1DISTRICT TOTALS (INCLUDING ALTERNATIVE SCHOOLS),9037.0,5077.0,56.2,3919.0,43.4,4133.0,...,32.7,79.0,36.9,250.0,205.0,82.0,44.0,17.6,47.0,18.8
2,20112012.0,20.0,ADAMS 12 FIVE STAR SCHOOLS,1DISTRICT TOTALS (INCLUDING ALTERNATIVE SCHOOLS),49889.0,34283.0,68.7,15424.0,30.9,16854.0,...,57.2,481.0,68.2,3590.0,3225.0,89.8,361.0,10.1,404.0,11.3
3,20112012.0,30.0,ADAMS COUNTY 14,1DISTRICT TOTALS (INCLUDING ALTERNATIVE SCHOOLS),8265.0,5510.0,66.7,3038.0,36.8,3397.0,...,49.7,529.0,59.7,377.0,317.0,84.1,75.0,19.9,89.0,23.6
4,20112012.0,40.0,BRIGHTON 27J,1DISTRICT TOTALS (INCLUDING ALTERNATIVE SCHOOLS),17152.0,13109.0,76.4,3982.0,23.2,4294.0,...,67.9,287.0,74.9,703.0,630.0,89.6,70.0,10.0,76.0,10.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,20112012.0,8001.0,CHARTER SCHOOL INSTITUTE,1DISTRICT TOTALS (INCLUDING ALTERNATIVE SCHOOLS),12020.0,5323.0,44.3,6660.0,55.4,6800.0,...,72.3,69.0,73.4,343.0,172.0,50.1,169.0,49.3,174.0,50.7
180,20112012.0,9030.0,MOUNTAIN BOCES,1DISTRICT TOTALS (INCLUDING ALTERNATIVE SCHOOLS),184.0,76.0,41.3,113.0,61.4,116.0,...,57.1,21.0,60.0,1.0,1.0,100.0,0.0,0.0,1.0,100.0
181,20112012.0,9035.0,CENTENNIAL BOCES,1DISTRICT TOTALS (INCLUDING ALTERNATIVE SCHOOLS),146.0,0.0,0.0,146.0,100.0,146.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
182,20112012.0,9050.0,SAN JUAN BOCES,1DISTRICT TOTALS (INCLUDING ALTERNATIVE SCHOOLS),84.0,0.0,0.0,84.0,100.0,84.0,...,0.0,0.0,0.0,3.0,0.0,0.0,3.0,100.0,3.0,100.0
183,20112012.0,9130.0,EXPEDITIONARY BOCES,1DISTRICT TOTALS (INCLUDING ALTERNATIVE SCHOOLS),402.0,302.0,75.1,100.0,24.9,101.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Get County Names

In [98]:
df = cr.df('dist_grad_rate')[['organization_name', 'county_name']]
df.loc[df.organization_name == 'STATE TOTAL', 'county_name'] = 'STATE TOTAL'
df.loc[df.organization_name == 'CHARTER SCHOOL INSTITUTE', 'county_name'] = 'DENVER'
county = df.copy()
county

              organization_name    county_name
0                   STATE TOTAL    STATE TOTAL
1                    MAPLETON 1          ADAMS
2    ADAMS 12 FIVE STAR SCHOOLS          ADAMS
3               ADAMS COUNTY 14          ADAMS
4                  BRIGHTON 27J          ADAMS
..                          ...            ...
180              MOUNTAIN BOCES  COLORADO BOCS
181            CENTENNIAL BOCES  COLORADO BOCS
182              SAN JUAN BOCES  COLORADO BOCS
183         EXPEDITIONARY BOCES  COLORADO BOCS
184                 STATE TOTAL    STATE TOTAL

[185 rows x 2 columns]

In [102]:
df = cr.df('dist_homeless_student')
df = df.merge(county, how='left')
df.insert(0, 'school_dist_code', df.pop('org_code'))
df.insert(0, 'school_dist', df.pop('organization_name'))
df.insert(0, 'county', df.pop('county_name'))
df = df.drop(columns=['category', 'school_year'])
df.to_csv('output/dist_mobility_rate.csv')
df

,county,school_dist,school_dist_code,total_pupil_count_all_students,total_stable_pupil_count_all_students,total_stability_rate_all_students,total_mobile_student_count_all_students,total_student_mobility_rate_all_students,total_instances_of_mobility_all_students,total_mobility_incidence_rate_all_students,...,homeless_student_mobility_rate,homeless_instances_of_mobility,homeless_mobility_incidence_rate,gifted_talented_pupil_count,gifted_talented_stable_student_count,gifted_talented_stability_rate,gifted_talented_mobile_student_count,gifted_talented_student_mobility_rate,gifted_talented_instances_of_mobility,gifted_talented_mobility_incidence_rate
0,STATE TOTAL,STATE TOTAL,9999.0,939283.0,705064.0,75.1,231706.0,24.7,253577.0,27.0,...,45.3,11558.0,54.2,73344.0,66620.0,90.8,6641.0,9.1,7366.0,10.0
1,STATE TOTAL,STATE TOTAL,9999.0,939283.0,705064.0,75.1,231706.0,24.7,253577.0,27.0,...,45.3,11558.0,54.2,73344.0,66620.0,90.8,6641.0,9.1,7366.0,10.0
2,ADAMS,MAPLETON 1,10.0,9037.0,5077.0,56.2,3919.0,43.4,4133.0,45.7,...,32.7,79.0,36.9,250.0,205.0,82.0,44.0,17.6,47.0,18.8
3,ADAMS,ADAMS 12 FIVE STAR SCHOOLS,20.0,49889.0,34283.0,68.7,15424.0,30.9,16854.0,33.8,...,57.2,481.0,68.2,3590.0,3225.0,89.8,361.0,10.1,404.0,11.3
4,ADAMS,ADAMS COUNTY 14,30.0,8265.0,5510.0,66.7,3038.0,36.8,3397.0,41.1,...,49.7,529.0,59.7,377.0,317.0,84.1,75.0,19.9,89.0,23.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,DENVER,CHARTER SCHOOL INSTITUTE,8001.0,12020.0,5323.0,44.3,6660.0,55.4,6800.0,56.6,...,72.3,69.0,73.4,343.0,172.0,50.1,169.0,49.3,174.0,50.7
181,COLORADO BOCS,MOUNTAIN BOCES,9030.0,184.0,76.0,41.3,113.0,61.4,116.0,63.0,...,57.1,21.0,60.0,1.0,1.0,100.0,0.0,0.0,1.0,100.0
182,COLORADO BOCS,CENTENNIAL BOCES,9035.0,146.0,0.0,0.0,146.0,100.0,146.0,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
183,COLORADO BOCS,SAN JUAN BOCES,9050.0,84.0,0.0,0.0,84.0,100.0,84.0,100.0,...,0.0,0.0,0.0,3.0,0.0,0.0,3.0,100.0,3.0,100.0
184,COLORADO BOCS,EXPEDITIONARY BOCES,9130.0,402.0,302.0,75.1,100.0,24.9,101.0,25.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [103]:
df = cr.df('dist_grad_rate')
df = df.drop(columns='county_name') # we're using our own
df = df.merge(county, how='left')
df.insert(0, 'school_dist_code', df.pop('organization_code'))
df.insert(0, 'school_dist', df.pop('organization_name'))
df.insert(0, 'county', df.pop('county_name'))
df.to_csv('output/dist_grad_rate.csv')
df

,county,school_dist,school_dist_code,students_with_disabilities_final_grad_base,students_with_disabilities_graduates_total,students_with_disabilities_graduation_rate,students_with_disabilities_completers_total,students_with_disabilities_completion_rate,limited_english_proficient_final_grad_base,limited_english_proficient_graduates_total,...,homeless_final_grad_base,homeless_graduates_total,homeless_graduation_rate,homeless_completers_total,homeless_completion_rate,gifted_talented_final_grad_base,gifted_talented_graduates_total,gifted_talented_graduation_rate,gifted_talented_completers_total,gifted_talented_completion_rate
0,STATE TOTAL,STATE TOTAL,9999.0,5775.0,3099.0,53.7,3222.0,55.8,6171.0,3289.0,...,2394.0,1175.0,49.1,1262.0,52.7,6604.0,6048.0,91.6,6156.0,93.2
1,STATE TOTAL,STATE TOTAL,9999.0,5775.0,3099.0,53.7,3222.0,55.8,6171.0,3289.0,...,2394.0,1175.0,49.1,1262.0,52.7,6604.0,6048.0,91.6,6156.0,93.2
2,ADAMS,MAPLETON 1,10.0,49.0,18.0,36.7,19.0,38.8,219.0,73.0,...,41.0,12.0,29.3,16.0,39.0,44.0,27.0,61.4,27.0,61.4
3,ADAMS,ADAMS 12 FIVE STAR SCHOOLS,20.0,250.0,118.0,47.2,127.0,50.8,379.0,257.0,...,106.0,62.0,58.5,65.0,61.3,227.0,201.0,88.5,208.0,91.6
4,ADAMS,ADAMS COUNTY 14,30.0,59.0,32.0,54.2,32.0,54.2,170.0,86.0,...,99.0,52.0,52.5,57.0,57.6,30.0,27.0,90.0,27.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,COLORADO BOCS,CENTENNIAL BOCES,9035.0,6.0,1.0,16.7,1.0,16.7,4.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
183,COLORADO BOCS,SAN JUAN BOCES,9050.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.0
184,COLORADO BOCS,EXPEDITIONARY BOCES,9130.0,2.0,2.0,100.0,2.0,100.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
185,STATE TOTAL,STATE TOTAL,9999.0,5775.0,3099.0,53.7,3222.0,55.8,6171.0,3289.0,...,2394.0,1175.0,49.1,1262.0,52.7,6604.0,6048.0,91.6,6156.0,93.2
186,STATE TOTAL,STATE TOTAL,9999.0,5775.0,3099.0,53.7,3222.0,55.8,6171.0,3289.0,...,2394.0,1175.0,49.1,1262.0,52.7,6604.0,6048.0,91.6,6156.0,93.2