In [23]:
import pandas as pd, numpy as np
import crime as cr

In [33]:
cr.sources('dist_grad_rate')

Students with Disabilities Graduation Rate by District
https://dev.socrata.com/foundry/data.colorado.gov/aze8-926p

Graduation data by school district and Instructional program service
type for the 2011-2012 school year. The completion counts and rates
include all students who graduate on-time with a regular diploma plus
students who complete on-time with a GED or non-diploma certificate.
It is important to note that graduates are included in the completer
count and rate, therefore the completion counts and rates for any
school or district will be greater than or equal to the graduation
rate.

Rows:    185
Cols:    38
Period:  2011 to 2012

COLUMNS:
-------
County Name
  Field:  county_name
  Type:   text
  Null:   2
  Count:  183
  ITEMS:
     ADAMS  (20)
     ARAPAHOE  (19)
     BACA  (18)
     BOULDER  (17)
     CONEJOS  (16)
     ELBERT  (15)
     EL PASO  (14)
     FREMONT  (13)
     GARFIELD  (12)
     KIT CARSON  (11)
     LA PLATA  (10)
     LAS ANIMAS  (9)
     LINCOLN  (8)
     LOGAN  (7)
     MESA  (6)
     MONTEZUMA  (5)
     MONTROSE  (4)
     MORGAN  (3)
     OTERO  (2)
     OURAY  (1)

Organization Code
  Field:  organization_code
  Type:   number
  Null:   -
  Count:  185
  Min:    10
  Max:    9,999
  Avg:    1,948.23
  Sum:    360,423

Organization Name
  Field:  organization_name
  Type:   text
  Null:   -
  Count:  185
  ITEMS:
     EATON RE-2  (20)
     KEENESBURG RE-3(J)  (19)
     WINDSOR RE-4  (18)
     JOHNSTOWN-MILLIKEN RE-5J  (17)
     GREELEY 6  (16)
     PLATTE VALLEY RE-7  (15)
     WELD COUNTY S/D RE-8  (14)
     AULT-HIGHLAND RE-9  (13)
     BRIGGSDALE RE-10  (12)
     PRAIRIE RE-11  (11)
     PAWNEE RE-12  (10)
     YUMA 1  (9)
     WRAY RD-2  (8)
     IDALIA RJ-3  (7)
     LIBERTY J-4  (6)
     CHARTER SCHOOL INSTITUTE  (5)
     MOUNTAIN BOCES  (4)
     CENTENNIAL BOCES  (3)
     SAN JUAN BOCES  (2)
     EXPEDITIONARY BOCES  (1)

Students with Disabilities Final Grad Base
  Field:  students_with_disabilities_final_grad_base
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    5,775
  Avg:    93.65
  Sum:    17,325

Students with Disabilities Graduates Total
  Field:  students_with_disabilities_graduates_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    3,099
  Avg:    50.25
  Sum:    9,297

Students with Disabilities Graduation Rate
  Field:  students_with_disabilities_graduation_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    58.16
  Sum:    10,759.7

Students with Disabilities Completers Total
  Field:  students_with_disabilities_completers_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    3,222
  Avg:    52.25
  Sum:    9,666

Students with Disabilities Completion Rate
  Field:  students_with_disabilities_completion_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    60.37
  Sum:    11,167.6

Limited English Proficient Final Grad Base
  Field:  limited_english_proficient_final_grad_base
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    6,171
  Avg:    100.07
  Sum:    18,513

Limited English Proficient Graduates Total
  Field:  limited_english_proficient_graduates_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    3,289
  Avg:    53.34
  Sum:    9,867

Limited English Proficient Graduation Rate
  Field:  limited_english_proficient_graduation_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    44.06
  Sum:    8,151.1

Limited English Proficient Completers Total
  Field:  limited_english_proficient_completers_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    3,364
  Avg:    54.55
  Sum:    10,092

Limited English Proficient Completion Rate
  Field:  limited_english_proficient_completion_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    45.31
  Sum:    8,381.6

Econ. Disadvant. Final Grad Base
  Field:  econ_disadvant_final_grad_base
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    25,718
  Avg:    417.05
  Sum:    77,154

Econ. Disadvant. Graduates Total
  Field:  econ_disadvant_graduates_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    15,791
  Avg:    256.07
  Sum:    47,373

Econ. Disadvant. Graduation Rate
  Field:  econ_disadvant_graduation_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    73.62
  Sum:    13,619.3

Econ. Disadvant. Completers Total
  Field:  econ_disadvant_completers_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    16,726
  Avg:    271.23
  Sum:    50,178

Econ. Disadvant. Completion Rate
  Field:  econ_disadvant_completion_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    77.68
  Sum:    14,371.4

Migrant Final Grad Base
  Field:  migrant_final_grad_base
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    384
  Avg:    6.23
  Sum:    1,152

Migrant Graduates Total
  Field:  migrant_graduates_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    214
  Avg:    3.47
  Sum:    642

Migrant Graduation Rate
  Field:  migrant_graduation_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    22.57
  Sum:    4,176.0

Migrant Completers Total
  Field:  migrant_completers_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    223
  Avg:    3.62
  Sum:    669

Migrant Completion Rate
  Field:  migrant_completion_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    22.96
  Sum:    4,247.9

Title 1 Final Grad Base
  Field:  title_1_final_grad_base
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    7,398
  Avg:    119.97
  Sum:    22,194

Title 1 Graduates Total
  Field:  title_1_graduates_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    3,853
  Avg:    62.48
  Sum:    11,559

Title 1 Graduation Rate
  Field:  title_1_graduation_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    36.84
  Sum:    6,815.3

Title 1 Completers Total
  Field:  title_1_completers_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    4,129
  Avg:    66.96
  Sum:    12,387

Title 1 Completion Rate
  Field:  title_1_completion_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    39.2
  Sum:    7,252.0

Homeless Final Grad Base
  Field:  homeless_final_grad_base
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    2,394
  Avg:    38.82
  Sum:    7,182

Homeless Graduates Total
  Field:  homeless_graduates_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    1,175
  Avg:    19.05
  Sum:    3,525

Homeless Graduation Rate
  Field:  homeless_graduation_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    27.47
  Sum:    5,081.2

Homeless Completers Total
  Field:  homeless_completers_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    1,262
  Avg:    20.46
  Sum:    3,786

Homeless Completion Rate
  Field:  homeless_completion_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    30.32
  Sum:    5,609.1

Gifted-Talented Final Grad Base
  Field:  gifted_talented_final_grad_base
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    6,604
  Avg:    107.09
  Sum:    19,812

Gifted-Talented Graduates Total
  Field:  gifted_talented_graduates_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    6,048
  Avg:    98.08
  Sum:    18,144

Gifted-Talented Graduation Rate
  Field:  gifted_talented_graduation_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    78.12
  Sum:    14,452.7

Gifted-Talented Completers Total
  Field:  gifted_talented_completers_total
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    6,156
  Avg:    99.83
  Sum:    18,468

Gifted-Talented Completion Rate
  Field:  gifted_talented_completion_rate
  Type:   number
  Null:   -
  Count:  185
  Min:    -
  Max:    100.0
  Avg:    79.65
  Sum:    14,734.5

### Topics covered in census data
- Demographic Age and Sex,
- Group Quarters Population,
- Race,
- Relationship,
- Total Population,
- Social,
- Ancestry,
- Citizenship Status,
- Disability Status,
- Educational Attainment,
- Fertility,
- Field of Degree,
- Grandparents as Caregivers,
- Language,
- Marital History,
- Marital Status,
- Place of Birth,
- School Enrollment,
- Residence 1 Year Ago/Migration,
- Veterans,
- Year of Entry,
- Economic,
- Class of Worker,
- Commuting to Work/Journey to Work,
- Employment Status,
- Food Stamps/Supplemental Nutrition,
- Assistance Program (SNAP),
- Health Insurance Coverage,
- Income and Earnings,
- Industry and Occupation,
- Poverty,
- Work Status,
- Housing,
- Computer Ownership & Internet Access,
- House Heating Fuel,
- Kitchen,
- Facilities,
- Occupancy/Vacancy Status,
- Occupants per Room,
- Owner Monthly Costs,
- Plumbing Facilities,
- Rent Statistics,
- Rooms / Bedrooms,
- Telephone Service Available,
- Tenure,
- Units in Structure,
- Value of Home,
- Vehicles Available,
- Year Householder Moved Into Unit,
- Year Structure Built.

#### Load Data

In [26]:
# 2019 Census data
df_2019_raw = cr.load('county_demographics', full=True)

# 2012 Census data
df_2012_raw = pd.read_csv('raw/census_counties_2012.csv')

# Load descriptions
desc_raw = cr.load('census_field_desc', full=True)
desc_raw = desc_raw[desc_raw.type == 'acs_standard'][['apifieldname', 'description']].rename(columns={'apifieldname':'column'})

#### Descriptions of ALL available columns in census data

In [27]:
desc_raw

        column                                        description
0      geoname                        Geographic Area common name
1       geonum  Comma delimited list (no quotes, leading zeros...
2      geojson  Well Known Text field (WKT) describing the bou...
3          pop       Population Estimate for the given time range
4     hispanic               Estimate for the Hispanic Population
..         ...                                                ...
153        emp  Estimated number of people in the civilian lab...
154      unemp  Estimated number of people in the civilian lab...
155  armedfrcs     Estimated number of people in the armed forces
156     not_lf  Estimated number of people not in the labor force
157    civ_ni_  Estimated total civilian non-institutionalized...

[157 rows x 2 columns]

#### 2019 Census Data

In [28]:
df = df_2019_raw.copy()[[
    'geoname',
    'med_age',
    # Compare population to num of households
    'pop', 'households',
    # Employment rate
    'emp', 'unemp',
    # Demographics. Reduce to white, black, hispanic, other
    'hispanic', 'white_nh', 'black_nh', 'ntvam_nh', 'asian_nh', 'hawpi_nh', 'other_nh', 'twoplus_nh',
    # Total housing units vs num vacant.
    'housing_un', 'vac_hu',
    # Adults (25+) who didn't grad high school
    'nohsdipl',
    # Income. Pick household or per-capita
    'med_hh_inc', 'per_cap_in',
    # Citizenship. Look for foreigners, or areas popular with out-of-staters
    'not_citz', 'brn_oth_st',
    # School enrollment. Compare HS enrollments to total enrollments. (HS dropouts -> crime??)
    'pop_3pl', 'enrolled', 'n_enrolled', 'gr_9_12',
    # median house value and age
    'med_hm_val', 'med_yr_blt',
    # Frequency distribution of OWNER OCCUPIED housing by price. own_occ_hu is total num of occupied housing units.
    'own_occ_hu', 'v_l_50k', 'v50k_100k', 'v100k_150k', 'v150k_200k', 'v200k_250k', 'v250k_300k', 'v300k_400k', 'v400k_500k', 'v500k_750k', 'v750k_1m', 'v_1m_plus',
    # total poverty level. (Divide 'ps_below' by 'ps_uni', NOT 'pop')
    'ps_uni', 'ps_below',
    # poverty level 18 and under. (Divide 'pov_l18' by 'tot_l18', NOT 'pop')
    'tot_l18', 'pov_l18',
]]
# Reduce race
df['race_other'] = df.pop('ntvam_nh') + df.pop('asian_nh') + df.pop('hawpi_nh') + df.pop('other_nh') + df.pop('twoplus_nh')
df.insert(9, 'race_other', df.pop('race_other'))

# Reduce housing prices
df['v50k_150k'] = df.pop('v50k_100k') + df.pop('v100k_150k')
df['v150k_250k'] = df.pop('v150k_200k') + df.pop('v200k_250k')
df['v250k_400k'] = df.pop('v250k_300k') + df.pop('v300k_400k')
df['v400k_750k'] = df.pop('v400k_500k') + df.pop('v500k_750k')
df['v750k_plus'] = df.pop('v750k_1m') + df.pop('v_1m_plus')

# Make county column match format of other datasets
df = df.rename(columns={'geoname':'county'})
df.county = df.county.str.upper()

# Save
df.to_csv('output/demographics_2019.csv')
df_2019 = df
df_2019

,county,med_age,pop,households,emp,unemp,hispanic,white_nh,black_nh,race_other,...,v_l_50k,ps_uni,ps_below,tot_l18,pov_l18,v50k_150k,v150k_250k,v250k_400k,v400k_750k,v750k_plus
0,PHILLIPS,37.1,4290.0,1689.0,1948.0,28.0,1027.0,3178.0,5.0,80.0,...,123.0,4210.0,256.0,1143.0,42.0,446.0,359.0,204.0,80.0,2.0
1,ARCHULETA,50.9,13253.0,5858.0,6088.0,329.0,2435.0,10116.0,185.0,517.0,...,143.0,13150.0,1153.0,2302.0,225.0,543.0,720.0,1580.0,846.0,398.0
2,DENVER,34.5,705576.0,301501.0,402046.0,15669.0,210937.0,382228.0,62754.0,49657.0,...,2003.0,693555.0,89203.0,138285.0,25172.0,7342.0,23973.0,44602.0,52993.0,19469.0
3,KIOWA,42.5,1489.0,638.0,697.0,20.0,72.0,1365.0,6.0,46.0,...,95.0,1460.0,177.0,391.0,54.0,224.0,87.0,48.0,20.0,0.0
4,HUERFANO,55.0,6679.0,3225.0,2560.0,82.0,2290.0,4083.0,10.0,296.0,...,132.0,6510.0,1030.0,1047.0,240.0,927.0,599.0,413.0,157.0,86.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,CONEJOS,38.8,8128.0,3183.0,3029.0,354.0,4263.0,3622.0,40.0,203.0,...,330.0,8089.0,1756.0,2164.0,636.0,1231.0,676.0,220.0,52.0,19.0
60,ADAMS,33.8,504108.0,166450.0,261893.0,10917.0,201784.0,252170.0,16139.0,34015.0,...,6278.0,499315.0,54159.0,134212.0,19943.0,5851.0,23243.0,49680.0,22451.0,2705.0
61,EAGLE,37.0,54681.0,18171.0,34128.0,647.0,16179.0,36748.0,615.0,1139.0,...,575.0,54401.0,4354.0,11805.0,1184.0,766.0,848.0,1760.0,4862.0,3869.0
62,MOFFAT,36.6,13127.0,5366.0,6163.0,282.0,2044.0,10543.0,130.0,410.0,...,262.0,13003.0,2206.0,3361.0,680.0,960.0,1186.0,824.0,209.0,34.0
63,CHEYENNE,39.4,2026.0,774.0,849.0,68.0,346.0,1576.0,2.0,102.0,...,145.0,1983.0,203.0,592.0,58.0,197.0,129.0,65.0,15.0,2.0

#### 2012 Census Data

In [29]:
df = df_2012_raw.copy()[[
    'geoname',
    'med_age',
    # Compare population to num of households
    'pop', 'households',
    # Employment rate
    'emp', 'unemp',
    # Demographics. Reduce to white, black, hispanic, other
    'hispanic', 'white_nh', 'black_nh', 'ntvam_nh', 'asian_nh', 'hawpi_nh', 'other_nh', 'twoplus_nh',
    # Total housing units vs num vacant.
    'housing_un', 'vac_hu',
    # Adults (25+) who didn't grad high school
    'nohsdipl',
    # Income. Pick household or per-capita
    'med_hh_inc', 'per_cap_in',
    # Citizenship. Look for foreigners, or areas popular with out-of-staters
    'not_citz', 'brn_oth_st',
    # School enrollment. Compare HS enrollments to total enrollments. (HS dropouts -> crime??)
    'pop_3pl', 'enrolled', 'n_enrolled', 'gr_9_12',
    # median house value and age
    'med_hm_val', 'med_yr_blt',
    # Frequency distribution of OWNER OCCUPIED housing by price. own_occ_hu is total num of occupied housing units.
    'own_occ_hu', 'v_l_50k', 'v50k_100k', 'v100k_150k', 'v150k_200k', 'v200k_250k', 'v250k_300k', 'v300k_400k', 'v400k_500k', 'v500k_750k', 'v750k_1m', 'v_1m_plus',
    # total poverty level. (Divide 'ps_below' by 'ps_uni', NOT 'pop')
    'ps_uni', 'ps_below',
    # poverty level 18 and under. (Divide 'pov_l18' by 'tot_l18', NOT 'pop')
    'tot_l18', 'pov_l18',
]]
# Reduce race
df['race_other'] = df.pop('ntvam_nh') + df.pop('asian_nh') + df.pop('hawpi_nh') + df.pop('other_nh') + df.pop('twoplus_nh')
df.insert(9, 'race_other', df.pop('race_other'))

# Reduce housing prices
df['v50k_150k'] = df.pop('v50k_100k') + df.pop('v100k_150k')
df['v150k_250k'] = df.pop('v150k_200k') + df.pop('v200k_250k')
df['v250k_400k'] = df.pop('v250k_300k') + df.pop('v300k_400k')
df['v400k_750k'] = df.pop('v400k_500k') + df.pop('v500k_750k')
df['v750k_plus'] = df.pop('v750k_1m') + df.pop('v_1m_plus')

# Make county column match format of other datasets
df = df.rename(columns={'geoname':'county'})
df.county = df.county.str.upper()

# Save
df.to_csv('output/demographics_2012.csv')
df_2012 = df
df_2012

,county,med_age,pop,households,emp,unemp,hispanic,white_nh,black_nh,race_other,...,v_l_50k,ps_uni,ps_below,tot_l18,pov_l18,v50k_150k,v150k_250k,v250k_400k,v400k_750k,v750k_plus
0,ARAPAHOE,35.7,574357,223747,292089,25952,105174,364766,55629,48788,...,4207,568999,66945,144576,23054,22174,55935,38213,16339,6290
1,MINERAL,60.3,702,363,370,21,15,671,9,7,...,45,702,47,26,0,31,62,80,56,31
2,MONTROSE,42.6,40994,16732,18110,2014,8037,31799,186,972,...,1311,40368,5565,9788,1927,2276,4496,2734,1370,219
3,PARK,47.0,16168,6997,8796,787,777,14818,5,568,...,246,16049,1355,3049,276,585,2295,2184,764,159
4,MORGAN,36.0,28200,10489,12758,1028,9557,17399,701,543,...,923,27416,4002,7670,1454,2813,2054,643,238,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,ELBERT,43.0,23058,8195,11789,1032,1280,20841,73,864,...,216,22944,1384,5784,645,466,1365,2939,2014,398
60,FREMONT,43.0,47006,17200,14687,1183,5839,36270,2736,2161,...,1207,35583,5376,7257,1692,4236,4322,1836,592,176
61,GARFIELD,34.7,56330,20272,29185,2481,15743,38992,267,1328,...,923,55299,6031,15034,2139,1219,2431,3833,4002,1086
62,WELD,33.2,253552,89553,120443,9374,71792,171475,1969,8316,...,4521,247164,35581,69474,13265,14469,24157,13222,5397,1339
63,YUMA,36.3,10032,3886,4788,143,2080,7823,15,114,...,340,9890,1059,2653,325,1186,664,314,58,30

**Field Descriptions**

In [31]:
# Make frame from chosen columns
df = df_2019.copy()
df = df.rename(columns={'county':'geoname'})
cols = df.columns.to_frame().reset_index(drop=True)
cols.columns = ['column']

# Get descriptions
desc = desc_raw.copy()

# Merge and rename any necessary columns
cols = cols.merge(desc)
cols.iat[0,0] = 'county'

# Save
cols.to_csv('output/demographics_field_desc.csv')

cols

        column                                        description
0       county                        Geographic Area common name
1      med_age          Median age of the population for the area
2          pop       Population Estimate for the given time range
3   households         Estimate for the total number of household
4          emp  Estimated number of people in the civilian lab...
5        unemp  Estimated number of people in the civilian lab...
6     hispanic               Estimate for the Hispanic Population
7     white_nh    Estimate for the White, Non-Hispanic Population
8     black_nh    Estimate for the Black, Non-Hispanic Population
9   housing_un            Estimated total number of housing units
10      vac_hu           Estimated number of vacant housing units
11    nohsdipl  Estimated population 25 years or older that do...
12  med_hh_inc                  Estimated median household income
13  per_cap_in                        Estimated per capita income
14    not_citz  Estimated total population that is not a US Ci...
15  brn_oth_st  Estimated total population that was born in a ...
16     pop_3pl  Estimated total population 3 years old or high...
17    enrolled  Estimated total population 3+ who are enrolled...
18  n_enrolled  Population 3 yrs and older not enrolled in school
19     gr_9_12  Estimated total population enrolled in grades ...
20  med_hm_val                        Estimated median home value
21  med_yr_blt                        median year structure built
22  own_occ_hu   Estimated number of owner occupied housing units
23     v_l_50k  Estimated number of owner occupied housing uni...
24      ps_uni  Estimated total population for whom poverty st...
25    ps_below  Estimated population for whom poverty status i...
26     tot_l18  Estimated population who is under 18 years of ...
27     pov_l18  Estimated population who is under 18 years of ...

In [13]:
cr.sources('county_demographics')

Census Counties in Colorado 2019
https://dev.socrata.com/foundry/data.colorado.gov/8j3i-rjn4

American Community Survey Census data includes demographics, education
level, commute information, and more subset to Colorado by the
Department of Local Affairs (DOLA).

Rows:    64
Cols:    157
Period:  2019 to 2019

COLUMNS:
-------
The Geom
  Field:  the_geom
  Type:   multipolygon
  Null:   -
  Count:  -

Geoname
  Field:  geoname
  Type:   text
  Null:   -
  Count:  64
  ITEMS:
     Pitkin  (1)
     Prowers  (1)
     Jackson  (1)
     Conejos  (1)
     Broomfield  (1)
     Larimer  (1)
     Kit Carson  (1)
     Hinsdale  (1)
     Boulder  (1)
     Bent  (1)
     Arapahoe  (1)
     Adams  (1)
     Alamosa  (1)
     Delta  (1)
     Pueblo  (1)
     Washington  (1)
     El Paso  (1)
     Logan  (1)
     Mineral  (1)
     Custer  (1)

Geonum
  Field:  geonum
  Type:   number
  Null:   -
  Count:  64
  Min:    108,001
  Max:    108,125
  Avg:    -
  Sum:    -

Pop
  Field:  pop
  Type:   number
  Null:   -
  Count:  64
  Min:    589.0
  Max:    705,576.0
  Avg:    -
  Sum:    -

Hispanic
  Field:  hispanic
  Type:   number
  Null:   -
  Count:  64
  Min:    49.0
  Max:    210,937.0
  Avg:    -
  Sum:    -

White Nh
  Field:  white_nh
  Type:   number
  Null:   -
  Count:  64
  Min:    523.0
  Max:    483,009.0
  Avg:    -
  Sum:    -

Black Nh
  Field:  black_nh
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    67,640.0
  Avg:    -
  Sum:    -

Ntvam Nh
  Field:  ntvam_nh
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    3,186.0
  Avg:    -
  Sum:    -

Asian Nh
  Field:  asian_nh
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    38,273.0
  Avg:    -
  Sum:    -

Hawpi Nh
  Field:  hawpi_nh
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    2,453.0
  Avg:    -
  Sum:    -

Other Nh
  Field:  other_nh
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    1,833.0
  Avg:    -
  Sum:    -

Twoplus Nh
  Field:  twoplus_nh
  Type:   number
  Null:   -
  Count:  64
  Min:    5.0
  Max:    28,631.0
  Avg:    -
  Sum:    -

Male
  Field:  male
  Type:   number
  Null:   -
  Count:  64
  Min:    292.0
  Max:    353,311.0
  Avg:    -
  Sum:    -

Female
  Field:  female
  Type:   number
  Null:   -
  Count:  64
  Min:    297.0
  Max:    352,265.0
  Avg:    -
  Sum:    -

Ageless5
  Field:  ageless5
  Type:   number
  Null:   -
  Count:  64
  Min:    15.0
  Max:    47,167.0
  Avg:    -
  Sum:    -

Age5 9
  Field:  age5_9
  Type:   number
  Null:   -
  Count:  64
  Min:    7.0
  Max:    47,238.0
  Avg:    -
  Sum:    -

Age10 14
  Field:  age10_14
  Type:   number
  Null:   -
  Count:  64
  Min:    26.0
  Max:    47,286.0
  Avg:    -
  Sum:    -

Age15 19
  Field:  age15_19
  Type:   number
  Null:   -
  Count:  64
  Min:    9.0
  Max:    48,022.0
  Avg:    -
  Sum:    -

Age20 24
  Field:  age20_24
  Type:   number
  Null:   -
  Count:  64
  Min:    16.0
  Max:    57,146.0
  Avg:    -
  Sum:    -

Age25 29
  Field:  age25_29
  Type:   number
  Null:   -
  Count:  64
  Min:    38.0
  Max:    82,942.0
  Avg:    -
  Sum:    -

Age30 34
  Field:  age30_34
  Type:   number
  Null:   -
  Count:  64
  Min:    27.0
  Max:    79,888.0
  Avg:    -
  Sum:    -

Age35 39
  Field:  age35_39
  Type:   number
  Null:   -
  Count:  64
  Min:    26.0
  Max:    61,730.0
  Avg:    -
  Sum:    -

Age40 44
  Field:  age40_44
  Type:   number
  Null:   -
  Count:  64
  Min:    25.0
  Max:    50,260.0
  Avg:    -
  Sum:    -

Age45 49
  Field:  age45_49
  Type:   number
  Null:   -
  Count:  64
  Min:    29.0
  Max:    43,970.0
  Avg:    -
  Sum:    -

Age50 54
  Field:  age50_54
  Type:   number
  Null:   -
  Count:  64
  Min:    44.0
  Max:    42,688.0
  Avg:    -
  Sum:    -

Age55 59
  Field:  age55_59
  Type:   number
  Null:   -
  Count:  64
  Min:    39.0
  Max:    43,657.0
  Avg:    -
  Sum:    -

Age60 64
  Field:  age60_64
  Type:   number
  Null:   -
  Count:  64
  Min:    75.0
  Max:    40,371.0
  Avg:    -
  Sum:    -

Age65 69
  Field:  age65_69
  Type:   number
  Null:   -
  Count:  64
  Min:    70.0
  Max:    32,078.0
  Avg:    -
  Sum:    -

Age70 74
  Field:  age70_74
  Type:   number
  Null:   -
  Count:  64
  Min:    30.0
  Max:    24,257.0
  Avg:    -
  Sum:    -

Age75 79
  Field:  age75_79
  Type:   number
  Null:   -
  Count:  64
  Min:    13.0
  Max:    15,339.0
  Avg:    -
  Sum:    -

Age80 84
  Field:  age80_84
  Type:   number
  Null:   -
  Count:  64
  Min:    14.0
  Max:    10,452.0
  Avg:    -
  Sum:    -

Age85Pl
  Field:  age85pl
  Type:   number
  Null:   -
  Count:  64
  Min:    10.0
  Max:    10,667.0
  Avg:    -
  Sum:    -

Ageless18
  Field:  ageless18
  Type:   number
  Null:   -
  Count:  64
  Min:    76.0
  Max:    169,876.0
  Avg:    -
  Sum:    -

Age18 24
  Field:  age18_24
  Type:   number
  Null:   -
  Count:  64
  Min:    16.0
  Max:    76,983.0
  Avg:    -
  Sum:    -

Med Age
  Field:  med_age
  Type:   number
  Null:   -
  Count:  64
  Min:    31.8
  Max:    59.7
  Avg:    -
  Sum:    -

Households
  Field:  households
  Type:   number
  Null:   -
  Count:  64
  Min:    289.0
  Max:    301,501.0
  Avg:    -
  Sum:    -

Familyhh
  Field:  familyhh
  Type:   number
  Null:   -
  Count:  64
  Min:    133.0
  Max:    175,552.0
  Avg:    -
  Sum:    -

Nonfamhh
  Field:  nonfamhh
  Type:   number
  Null:   -
  Count:  64
  Min:    104.0
  Max:    155,431.0
  Avg:    -
  Sum:    -

Hhldralone
  Field:  hhldralone
  Type:   number
  Null:   -
  Count:  64
  Min:    85.0
  Max:    115,204.0
  Avg:    -
  Sum:    -

Hhldr Naln
  Field:  hhldr_naln
  Type:   number
  Null:   -
  Count:  64
  Min:    3.0
  Max:    40,227.0
  Avg:    -
  Sum:    -

Housing Un
  Field:  housing_un
  Type:   number
  Null:   -
  Count:  64
  Min:    751.0
  Max:    321,717.0
  Avg:    -
  Sum:    -

Occ Hu
  Field:  occ_hu
  Type:   number
  Null:   -
  Count:  64
  Min:    289.0
  Max:    301,501.0
  Avg:    -
  Sum:    -

Vac Hu
  Field:  vac_hu
  Type:   number
  Null:   -
  Count:  64
  Min:    157.0
  Max:    20,579.0
  Avg:    -
  Sum:    -

Owned
  Field:  owned
  Type:   number
  Null:   -
  Count:  64
  Min:    181.0
  Max:    164,677.0
  Avg:    -
  Sum:    -

Rented
  Field:  rented
  Type:   number
  Null:   -
  Count:  64
  Min:    49.0
  Max:    151,119.0
  Avg:    -
  Sum:    -

Pop25Plus
  Field:  pop25plus
  Type:   number
  Null:   -
  Count:  64
  Min:    485.0
  Max:    508,718.0
  Avg:    -
  Sum:    -

Nohsdipl
  Field:  nohsdipl
  Type:   number
  Null:   -
  Count:  64
  Min:    18.0
  Max:    60,938.0
  Avg:    -
  Sum:    -

Hsgrad Sc
  Field:  hsgrad_sc
  Type:   number
  Null:   -
  Count:  64
  Min:    282.0
  Max:    251,968.0
  Avg:    -
  Sum:    -

Bachl Hghr
  Field:  bachl_hghr
  Type:   number
  Null:   -
  Count:  64
  Min:    173.0
  Max:    251,499.0
  Avg:    -
  Sum:    -

Med Hh Inc
  Field:  med_hh_inc
  Type:   number
  Null:   -
  Count:  64
  Min:    30,900
  Max:    119,730.0
  Avg:    -
  Sum:    -

Med Fam In
  Field:  med_fam_in
  Type:   number
  Null:   -
  Count:  64
  Min:    39,917.0
  Max:    134,931.0
  Avg:    -
  Sum:    -

Per Cap In
  Field:  per_cap_in
  Type:   number
  Null:   -
  Count:  64
  Min:    13,930.0
  Max:    54,875.0
  Avg:    -
  Sum:    -

Med Yr Blt
  Field:  med_yr_blt
  Type:   number
  Null:   -
  Count:  64
  Min:    1,947.0
  Max:    1,999.0
  Avg:    -
  Sum:    -

Med C Rent
  Field:  med_c_rent
  Type:   number
  Null:   -
  Count:  64
  Min:    335.0
  Max:    1,565.0
  Avg:    -
  Sum:    -

Med G Rent
  Field:  med_g_rent
  Type:   number
  Null:   -
  Count:  64
  Min:    443.0
  Max:    1,725.0
  Avg:    -
  Sum:    -

Med Hm Val
  Field:  med_hm_val
  Type:   number
  Null:   -
  Count:  64
  Min:    79,400
  Max:    615,900
  Avg:    -
  Sum:    -

Citz Birth
  Field:  citz_birth
  Type:   number
  Null:   -
  Count:  64
  Min:    572.0
  Max:    650,176.0
  Avg:    -
  Sum:    -

Citz Nat
  Field:  citz_nat
  Type:   number
  Null:   -
  Count:  64
  Min:    5.0
  Max:    43,283.0
  Avg:    -
  Sum:    -

Not Citz
  Field:  not_citz
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    64,771.0
  Avg:    -
  Sum:    -

Born In Co
  Field:  born_in_co
  Type:   number
  Null:   -
  Count:  64
  Min:    179.0
  Max:    281,808.0
  Avg:    -
  Sum:    -

Brn Oth St
  Field:  brn_oth_st
  Type:   number
  Null:   -
  Count:  64
  Min:    383.0
  Max:    405,225.0
  Avg:    -
  Sum:    -

Ntv B O Us
  Field:  ntv_b_o_us
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    22,882.0
  Avg:    -
  Sum:    -

Foreign B
  Field:  foreign_b
  Type:   number
  Null:   -
  Count:  64
  Min:    9.0
  Max:    105,658.0
  Avg:    -
  Sum:    -

Pop 1P
  Field:  pop_1p
  Type:   number
  Null:   -
  Count:  64
  Min:    589.0
  Max:    696,798.0
  Avg:    -
  Sum:    -

Same House
  Field:  same_house
  Type:   number
  Null:   -
  Count:  64
  Min:    530.0
  Max:    556,608.0
  Avg:    -
  Sum:    -

Same Cnty
  Field:  same_cnty
  Type:   number
  Null:   -
  Count:  64
  Min:    7.0
  Max:    79,826.0
  Avg:    -
  Sum:    -

Same State
  Field:  same_state
  Type:   number
  Null:   -
  Count:  64
  Min:    25.0
  Max:    42,087.0
  Avg:    -
  Sum:    -

Diff State
  Field:  diff_state
  Type:   number
  Null:   -
  Count:  64
  Min:    2.0
  Max:    49,457.0
  Avg:    -
  Sum:    -

Frm Abroad
  Field:  frm_abroad
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    6,574.0
  Avg:    -
  Sum:    -

Wrkrs 16Pl
  Field:  wrkrs_16pl
  Type:   number
  Null:   -
  Count:  64
  Min:    339.0
  Max:    394,894.0
  Avg:    -
  Sum:    -

Car All
  Field:  car_all
  Type:   number
  Null:   -
  Count:  64
  Min:    220.0
  Max:    303,276.0
  Avg:    -
  Sum:    -

Car Alone
  Field:  car_alone
  Type:   number
  Null:   -
  Count:  64
  Min:    195.0
  Max:    272,967.0
  Avg:    -
  Sum:    -

Car Carpoo
  Field:  car_carpoo
  Type:   number
  Null:   -
  Count:  64
  Min:    15.0
  Max:    36,128.0
  Avg:    -
  Sum:    -

Public Trn
  Field:  public_trn
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    25,824.0
  Avg:    -
  Sum:    -

Pt Bus
  Field:  pt_bus
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    17,466.0
  Avg:    -
  Sum:    -

Pt Other
  Field:  pt_other
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    8,358.0
  Avg:    -
  Sum:    -

Bike
  Field:  bike
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    8,795.0
  Avg:    -
  Sum:    -

Walk
  Field:  walk
  Type:   number
  Null:   -
  Count:  64
  Min:    32.0
  Max:    18,489.0
  Avg:    -
  Sum:    -

Tr Other
  Field:  tr_other
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    4,777.0
  Avg:    -
  Sum:    -

Wrk Home
  Field:  wrk_home
  Type:   number
  Null:   -
  Count:  64
  Min:    14.0
  Max:    33,733.0
  Avg:    -
  Sum:    -

W 16Pl Nh
  Field:  w_16pl_nh
  Type:   number
  Null:   -
  Count:  64
  Min:    305.0
  Max:    361,161.0
  Avg:    -
  Sum:    -

T Less 10
  Field:  t_less_10
  Type:   number
  Null:   -
  Count:  64
  Min:    126.0
  Max:    37,072.0
  Avg:    -
  Sum:    -

T 10 19
  Field:  t_10_19
  Type:   number
  Null:   -
  Count:  64
  Min:    52.0
  Max:    107,064.0
  Avg:    -
  Sum:    -

T 20 29
  Field:  t_20_29
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    89,019.0
  Avg:    -
  Sum:    -

T 30 39
  Field:  t_30_39
  Type:   number
  Null:   -
  Count:  64
  Min:    6.0
  Max:    78,822.0
  Avg:    -
  Sum:    -

T 40 59
  Field:  t_40_59
  Type:   number
  Null:   -
  Count:  64
  Min:    7.0
  Max:    47,072.0
  Avg:    -
  Sum:    -

T 60 Pl
  Field:  t_60_pl
  Type:   number
  Null:   -
  Count:  64
  Min:    4.0
  Max:    24,253.0
  Avg:    -
  Sum:    -

Pop 3Pl
  Field:  pop_3pl
  Type:   number
  Null:   -
  Count:  64
  Min:    581.0
  Max:    678,966.0
  Avg:    -
  Sum:    -

Enrolled
  Field:  enrolled
  Type:   number
  Null:   -
  Count:  64
  Min:    89.0
  Max:    189,593.0
  Avg:    -
  Sum:    -

Preschool
  Field:  preschool
  Type:   number
  Null:   -
  Count:  64
  Min:    3.0
  Max:    10,840.0
  Avg:    -
  Sum:    -

Kndrgrtn
  Field:  kndrgrtn
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    9,350.0
  Avg:    -
  Sum:    -

Gr 1 4
  Field:  gr_1_4
  Type:   number
  Null:   -
  Count:  64
  Min:    11.0
  Max:    37,929.0
  Avg:    -
  Sum:    -

Gr 5 8
  Field:  gr_5_8
  Type:   number
  Null:   -
  Count:  64
  Min:    22.0
  Max:    37,720.0
  Avg:    -
  Sum:    -

Gr 9 12
  Field:  gr_9_12
  Type:   number
  Null:   -
  Count:  64
  Min:    17.0
  Max:    37,561.0
  Avg:    -
  Sum:    -

Undergrad
  Field:  undergrad
  Type:   number
  Null:   -
  Count:  64
  Min:    3.0
  Max:    46,522.0
  Avg:    -
  Sum:    -

Grad Prof
  Field:  grad_prof
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    15,715.0
  Avg:    -
  Sum:    -

N Enrolled
  Field:  n_enrolled
  Type:   number
  Null:   -
  Count:  64
  Min:    492.0
  Max:    523,081.0
  Avg:    -
  Sum:    -

Blt 2010 P
  Field:  blt_2010_p
  Type:   number
  Null:   -
  Count:  64
  Min:    6.0
  Max:    29,088.0
  Avg:    -
  Sum:    -

B2000 2009
  Field:  b2000_2009
  Type:   number
  Null:   -
  Count:  64
  Min:    19.0
  Max:    51,329.0
  Avg:    -
  Sum:    -

B1990 1999
  Field:  b1990_1999
  Type:   number
  Null:   -
  Count:  64
  Min:    55.0
  Max:    45,097.0
  Avg:    -
  Sum:    -

B1980 1989
  Field:  b1980_1989
  Type:   number
  Null:   -
  Count:  64
  Min:    47.0
  Max:    58,804.0
  Avg:    -
  Sum:    -

B1970 1979
  Field:  b1970_1979
  Type:   number
  Null:   -
  Count:  64
  Min:    82.0
  Max:    66,664.0
  Avg:    -
  Sum:    -

B1960 1969
  Field:  b1960_1969
  Type:   number
  Null:   -
  Count:  64
  Min:    27.0
  Max:    35,221.0
  Avg:    -
  Sum:    -

B1950 1959
  Field:  b1950_1959
  Type:   number
  Null:   -
  Count:  64
  Min:    26.0
  Max:    48,199.0
  Avg:    -
  Sum:    -

B1940 1949
  Field:  b1940_1949
  Type:   number
  Null:   -
  Count:  64
  Min:    5.0
  Max:    21,137.0
  Avg:    -
  Sum:    -

B1939 E
  Field:  b1939_e
  Type:   number
  Null:   -
  Count:  64
  Min:    156.0
  Max:    60,727.0
  Avg:    -
  Sum:    -

Own Occ Hu
  Field:  own_occ_hu
  Type:   number
  Null:   -
  Count:  64
  Min:    181.0
  Max:    164,677.0
  Avg:    -
  Sum:    -

V L 50K
  Field:  v_l_50k
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    6,278.0
  Avg:    -
  Sum:    -

V50K 100K
  Field:  v50k_100k
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    6,657.0
  Avg:    -
  Sum:    -

V100K 150K
  Field:  v100k_150k
  Type:   number
  Null:   -
  Count:  64
  Min:    2.0
  Max:    10,064.0
  Avg:    -
  Sum:    -

V150K 200K
  Field:  v150k_200k
  Type:   number
  Null:   -
  Count:  64
  Min:    11.0
  Max:    23,651.0
  Avg:    -
  Sum:    -

V200K 250K
  Field:  v200k_250k
  Type:   number
  Null:   -
  Count:  64
  Min:    10.0
  Max:    27,582.0
  Avg:    -
  Sum:    -

V250K 300K
  Field:  v250k_300k
  Type:   number
  Null:   -
  Count:  64
  Min:    14.0
  Max:    25,004.0
  Avg:    -
  Sum:    -

V300K 400K
  Field:  v300k_400k
  Type:   number
  Null:   -
  Count:  64
  Min:    10.0
  Max:    42,699.0
  Avg:    -
  Sum:    -

V400K 500K
  Field:  v400k_500k
  Type:   number
  Null:   -
  Count:  64
  Min:    7.0
  Max:    36,183.0
  Avg:    -
  Sum:    -

V500K 750K
  Field:  v500k_750k
  Type:   number
  Null:   -
  Count:  64
  Min:    3.0
  Max:    32,808.0
  Avg:    -
  Sum:    -

V750K 1M
  Field:  v750k_1m
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    11,082.0
  Avg:    -
  Sum:    -

V 1M Plus
  Field:  v_1m_plus
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    8,930.0
  Avg:    -
  Sum:    -

Rnt Occ Hu
  Field:  rnt_occ_hu
  Type:   number
  Null:   -
  Count:  64
  Min:    49.0
  Max:    151,119.0
  Avg:    -
  Sum:    -

Rntl400
  Field:  rntl400
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    9,744.0
  Avg:    -
  Sum:    -

R400T599
  Field:  r400t599
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    4,670.0
  Avg:    -
  Sum:    -

R600T799
  Field:  r600t799
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    11,475.0
  Avg:    -
  Sum:    -

R800T999
  Field:  r800t999
  Type:   number
  Null:   -
  Count:  64
  Min:    6.0
  Max:    16,304.0
  Avg:    -
  Sum:    -

R1000T1249
  Field:  r1000t1249
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    28,659.0
  Avg:    -
  Sum:    -

R1250T1499
  Field:  r1250t1499
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    24,408.0
  Avg:    -
  Sum:    -

R1500T1999
  Field:  r1500t1999
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    34,456.0
  Avg:    -
  Sum:    -

R2000Pl
  Field:  r2000pl
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    21,187.0
  Avg:    -
  Sum:    -

Rnocshr
  Field:  rnocshr
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    2,883.0
  Avg:    -
  Sum:    -

Ps Uni
  Field:  ps_uni
  Type:   number
  Null:   -
  Count:  64
  Min:    589.0
  Max:    693,555.0
  Avg:    -
  Sum:    -

Ps Below
  Field:  ps_below
  Type:   number
  Null:   -
  Count:  64
  Min:    31.0
  Max:    89,203.0
  Avg:    -
  Sum:    -

Ps Bel150
  Field:  ps_bel150
  Type:   number
  Null:   -
  Count:  64
  Min:    107.0
  Max:    145,392.0
  Avg:    -
  Sum:    -

Tot L18
  Field:  tot_l18
  Type:   number
  Null:   -
  Count:  64
  Min:    76.0
  Max:    167,335.0
  Avg:    -
  Sum:    -

Puni 65Pl
  Field:  puni_65pl
  Type:   number
  Null:   -
  Count:  64
  Min:    146.0
  Max:    90,245.0
  Avg:    -
  Sum:    -

Pov L18
  Field:  pov_l18
  Type:   number
  Null:   -
  Count:  64
  Min:    -
  Max:    25,172.0
  Avg:    -
  Sum:    -

Pov 65Pl
  Field:  pov_65pl
  Type:   number
  Null:   -
  Count:  64
  Min:    3.0
  Max:    8,674.0
  Avg:    -
  Sum:    -

Avghhsize
  Field:  avghhsize
  Type:   number
  Null:   -
  Count:  64
  Min:    2.01
  Max:    3.69
  Avg:    -
  Sum:    -

Hhi L20K
  Field:  hhi_l20k
  Type:   number
  Null:   -
  Count:  64
  Min:    34.0
  Max:    40,741.0
  Avg:    -
  Sum:    -

Hhi20 30
  Field:  hhi20_30
  Type:   number
  Null:   -
  Count:  64
  Min:    24.0
  Max:    22,866.0
  Avg:    -
  Sum:    -

Hhi30 40
  Field:  hhi30_40
  Type:   number
  Null:   -
  Count:  64
  Min:    26.0
  Max:    24,289.0
  Avg:    -
  Sum:    -

Hhi40 50
  Field:  hhi40_50
  Type:   number
  Null:   -
  Count:  64
  Min:    33.0
  Max:    21,978.0
  Avg:    -
  Sum:    -

Hhi50 60
  Field:  hhi50_60
  Type:   number
  Null:   -
  Count:  64
  Min:    39.0
  Max:    24,117.0
  Avg:    -
  Sum:    -

Hhi60 75
  Field:  hhi60_75
  Type:   number
  Null:   -
  Count:  64
  Min:    28.0
  Max:    27,930.0
  Avg:    -
  Sum:    -

Hhi75 100
  Field:  hhi75_100
  Type:   number
  Null:   -
  Count:  64
  Min:    23.0
  Max:    37,630.0
  Avg:    -
  Sum:    -

Hhi100 125
  Field:  hhi100_125
  Type:   number
  Null:   -
  Count:  64
  Min:    24.0
  Max:    27,936.0
  Avg:    -
  Sum:    -

Hhi125 150
  Field:  hhi125_150
  Type:   number
  Null:   -
  Count:  64
  Min:    11.0
  Max:    19,571.0
  Avg:    -
  Sum:    -

Hhi150 200
  Field:  hhi150_200
  Type:   number
  Null:   -
  Count:  64
  Min:    5.0
  Max:    24,159.0
  Avg:    -
  Sum:    -

Hhi200 Pl
  Field:  hhi200_pl
  Type:   number
  Null:   -
  Count:  64
  Min:    5.0
  Max:    30,417.0
  Avg:    -
  Sum:    -

Civ Ni Pop
  Field:  civ_ni_pop
  Type:   number
  Null:   -
  Count:  64
  Min:    589.0
  Max:    699,351.0
  Avg:    -
  Sum:    -

Disabled
  Field:  disabled
  Type:   number
  Null:   -
  Count:  64
  Min:    76.0
  Max:    82,539.0
  Avg:    -
  Sum:    -

Pop16 Pls
  Field:  pop16_pls
  Type:   number
  Null:   -
  Count:  64
  Min:    522.0
  Max:    578,596.0
  Avg:    -

In [12]:
df = cr.sources()
df.loc[df.index.isin([
    'crime_16_19',
    'crime_97_15',
    'dist_arrests',
    'dist_student_mobility',
    'dist_grad_rate',
    'county_demographics',
    'county_population',
    ])]

,Topic,Location,Rows,Type,From,To,Full Name,Web URL
crime_16_19,Crime,Colorado,1851996,Records,2016,2019,Crimes in Colorado,https://dev.socrata.com/foundry/data.colorado....
crime_97_15,Crime,Colorado,4952282,Records,1997,2015,Crimes in Colorado 1997 to 2015,https://dev.socrata.com/foundry/data.colorado....
dist_arrests,Crime,Colorado,93114,Records,2001,2016,Crime Arrests by Police District 2001-2016 in ...,https://dev.socrata.com/foundry/data.colorado....
dist_student_mobility,Education,Colorado,184,Aggregate,2011,2012,District Student Mobility/Stability Statistics...,https://dev.socrata.com/foundry/data.colorado....
dist_grad_rate,Education,Colorado,185,Aggregate,2011,2012,District Graduation Data by Instructional Prog...,https://dev.socrata.com/foundry/data.colorado....
county_demographics,Other,Colorado,64,Aggregate,2019,2019,Census Counties in Colorado 2019,https://dev.socrata.com/foundry/data.colorado....
county_population,Other,Colorado,381504,Aggregate,1990,2040,Population Colorado,https://dev.socrata.com/foundry/data.colorado....

In [5]:
import crime as cr
cr.sources()

,Topic,Location,Rows,Type,From,To,Full Name,Web URL
crime_16_19,Crime,Colorado,1851996,Records,2016,2019,Crimes in Colorado,https://dev.socrata.com/foundry/data.colorado....
crime_97_15,Crime,Colorado,4952282,Records,1997,2015,Crimes in Colorado 1997 to 2015,https://dev.socrata.com/foundry/data.colorado....
dist_arrests,Crime,Colorado,93114,Records,2001,2016,Crime Arrests by Police District 2001-2016 in ...,https://dev.socrata.com/foundry/data.colorado....
dist_crime,Crime,Colorado,78843,Records,2001,2016,Crime Offenses by Police District 2001-2016 in...,https://dev.socrata.com/foundry/data.colorado....
marijuana_arrests,Crime,Colorado,7697,Records,2012,2017,Department Of Public Safety - Colorado Bureau ...,https://dev.socrata.com/foundry/data.colorado....
marijuana_offenses,Crime,Colorado,6790,Records,2012,2017,Department Of Public Safety - Colorado Bureau ...,https://dev.socrata.com/foundry/data.colorado....
crime_rates,Crime,Colorado,33,Aggregate,1980,2012,Crime Rates 1980-2012,https://dev.socrata.com/foundry/data.colorado....
crime_vs_incarceration,Crime,Colorado,31,Aggregate,1982,2012,Total Crime Rate vs Incarceration Rate Chart,https://dev.socrata.com/foundry/data.colorado....
crime_15_22,Crime,Colorado Springs,311425,Records,2015,2022,Crime Level Data,https://dev.socrata.com/foundry/policedata.col...
officer_shootings,Crime,Colorado Springs,112,Records,2010,2022,Officer Involved Shootings,https://dev.socrata.com/foundry/policedata.col...
arrest_demographics,Crime,Colorado Springs,209008,Records,2016,2021,Arrest Data with all Offenses and Demographic ...,https://dev.socrata.com/foundry/policedata.col...
citations,Crime,Colorado Springs,431895,Records,2016,2022,Ticket and Citation Data with Charges,https://dev.socrata.com/foundry/policedata.col...
officer_shooting_incidents,Crime,Colorado Springs,57,Records,2010,2022,Officer Involved Shootings Incident Level View,https://dev.socrata.com/foundry/policedata.col...
use_of_force,Crime,Colorado Springs,2122,Records,2017,2019,Use of Force Reports,https://dev.socrata.com/foundry/policedata.col...
fcollins_crime_totals,Crime,Fort Collins,10,Aggregate,2008,2017,Fort Collins UCR Crime Totals,https://dev.socrata.com/foundry/opendata.fcgov...
school_programs,Education,Colorado,9946,Records,2019,2019,School Programs in Colorado,https://dev.socrata.com/foundry/data.colorado....
degrees_awarded,Education,Colorado,221941,Records,2001,2017,degreesAwarded,https://dev.socrata.com/foundry/data.colorado....
enrollment_demographics,Education,Colorado,191108,Records,2001,2017,Enrollment Demographics for Post-Secondary Gra...,https://dev.socrata.com/foundry/data.colorado....
dist_student_mobility,Education,Colorado,184,Aggregate,2011,2012,District Student Mobility/Stability Statistics...,https://dev.socrata.com/foundry/data.colorado....
dist_grad_rate,Education,Colorado,185,Aggregate,2011,2012,District Graduation Data by Instructional Prog...,https://dev.socrata.com/foundry/data.colorado....
dist_math_scores,Education,Colorado,7249,Aggregate,2013,2013,2013 TCAP School and District Summary Results ...,https://dev.socrata.com/foundry/data.colorado....
dist_writing_scores,Education,Colorado,7248,Aggregate,2013,2013,2013 TCAP School and District Summary Results ...,https://dev.socrata.com/foundry/data.colorado....
county_demographics,Other,Colorado,64,Aggregate,2019,2019,Census Counties in Colorado 2019,https://dev.socrata.com/foundry/data.colorado....
census_field_desc,Other,Colorado,753,Records,2019,2019,Census Field Descriptions,https://dev.socrata.com/foundry/data.colorado....
hours_worked,Other,Colorado,139039,Records,1990,2021,Hours Worked by Employees in Colorado,https://dev.socrata.com/foundry/data.colorado....
county_population,Other,Colorado,381504,Aggregate,1990,2040,Population Colorado,https://dev.socrata.com/foundry/data.colorado....
race_estimates,Other,Colorado,968704,Records,2010,2016,Race Estimates in Colorado,https://dev.socrata.com/foundry/data.colorado....
drug_abuse_treat_prov,Other,Denver,188,Records,2012,2012,Substance Use Disorder Treatment Providers - D...,https://dev.socrata.com/foundry/data.colorado....