In [1]:
import crime as cr
import pandas as pd, numpy as np
df_arrests = pd.read_csv('add_county/output/dist_arrests.csv', index_col=0)
df_crime = pd.read_csv('add_county/output/dist_crime.csv', index_col=0)
display(df_arrests)
display(df_crime)

,police_dept,county,year,adultcount,juvenilecount,type
27,Alamosa PD,ALAMOSA,2015.0,0.0,0.0,Murder Non Negligent Manslaughter
28,Alamosa PD,ALAMOSA,2015.0,0.0,0.0,Rape
29,Alamosa PD,ALAMOSA,2015.0,0.0,0.0,Robbery
30,Alamosa PD,ALAMOSA,2015.0,0.0,0.0,Aggravated Assault
31,Alamosa PD,ALAMOSA,2015.0,0.0,0.0,Burglary
...,...,...,...,...,...,...
93109,Green Mountain Falls PD,EL PASO,2006.0,0.0,0.0,Weapons
93110,Longmont PD,BOULDER,2013.0,81.0,37.0,Drug Violations
93111,Routt County Sheriff,ROUTT,2014.0,0.0,0.0,Larceny
93112,Fremont County Sheriff,FREMONT,2012.0,5.0,0.0,Weapons
93113,Dillon PD,SUMMIT,2002.0,0.0,0.0,Burglary

,police_dept,county,year,type,count
17,Collbran PD,MESA,2015.0,Murder/Manslaughter,0.0
18,Collbran PD,MESA,2015.0,Negligent Manslaughter,0.0
19,Collbran PD,MESA,2015.0,Rape,0.0
20,Collbran PD,MESA,2015.0,Rape,0.0
21,Collbran PD,MESA,2015.0,Robbery,0.0
...,...,...,...,...,...
78836,Summit County Sheriff,SUMMIT,2013.0,Assaults,5.0
78837,San Miguel County Sheriff,SAN MIGUEL,2013.0,Assaults,0.0
78839,Las Animas PD,BENT,2007.0,Burglary,0.0
78840,Pagosa Springs PD,ARCHULETA,2015.0,Motor Vehicle Theft,0.0
78842,Gunnison County Sheriff,GUNNISON,2012.0,Assaults,4.0

## **Juvenile Arrests by District**

---

In [2]:
df = df_arrests.copy()

df = df.drop(columns=['adultcount'])

# Apparently there were duplicate rows, when there shouldn't be. Sum them.
df = df.groupby(['year', 'type', 'police_dept', 'county']).agg('sum')
df = df.reset_index()

# Make separate columns for crime type
df = df.pivot(index=['year', 'police_dept', 'county'], columns='type')

# Fix weird column structure as a result of the pivot
df.columns = df.columns.droplevel()
df = df.reset_index()
df.to_csv('output/dist_arrests_juvenile.csv')
df.head(3)

type,year,police_dept,county,Aggravated Assault,All Other Offenses,Arson,Burglary,Curfew Violations,DUI,Disorderly Conduct,...,Other Family Offenses,Other Sex Offenses,Prostitution,Rape,Robbery,Runaways,Stolen Property,Vagrancy,Vandalism,Weapons
0,2001.0,Adams County Sheriff,ADAMS,19.0,196.0,5.0,37.0,16.0,12.0,96.0,...,0.0,7.0,0.0,NaN,4.0,0.0,18.0,0.0,39.0,7.0
1,2001.0,Adams State College PD,ALAMOSA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,2001.0,Alamosa County Sheriff,ALAMOSA,1.0,18.0,0.0,0.0,0.0,3.0,0.0,...,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0

## **Adult Arrests by District**

---

In [3]:
df = df_arrests.copy()

df = df.drop(columns=['juvenilecount'])

# Apparently there were duplicate rows, even though there shouldn't be. Sum them.
df = df.groupby(['year', 'type', 'police_dept', 'county']).agg('sum')
df = df.reset_index()

# Make separate columns for crime type
df = df.pivot(index=['year', 'police_dept', 'county'], columns='type')

# Fix weird column structure as a result of the pivot
df.columns = df.columns.droplevel()
df = df.reset_index()
df.to_csv('output/dist_arrests_adult.csv')
df.head(3)

type,year,police_dept,county,Aggravated Assault,All Other Offenses,Arson,Burglary,Curfew Violations,DUI,Disorderly Conduct,...,Other Family Offenses,Other Sex Offenses,Prostitution,Rape,Robbery,Runaways,Stolen Property,Vagrancy,Vandalism,Weapons
0,2001.0,Adams County Sheriff,ADAMS,108.0,4296.0,2.0,31.0,0.0,607.0,73.0,...,57.0,11.0,0.0,NaN,21.0,0.0,28.0,1.0,79.0,19.0
1,2001.0,Adams State College PD,ALAMOSA,2.0,4.0,1.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0
2,2001.0,Alamosa County Sheriff,ALAMOSA,0.0,153.0,0.0,0.0,0.0,94.0,0.0,...,10.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,7.0,0.0

## **Total Arrests by District**

---

In [4]:
df = df_arrests.copy()

df['count'] = df.juvenilecount + df.adultcount

df = df.drop(columns=['juvenilecount', 'adultcount'])

# Apparently there were duplicate rows, even though there shouldn't be. Sum them.
df = df.groupby(['year', 'type', 'police_dept', 'county']).agg('sum')
df = df.reset_index()

# Make separate columns for crime type
df = df.pivot(index=['year', 'police_dept', 'county'], columns='type')

# Fix weird column structure as a result of the pivot
df.columns = df.columns.droplevel()
df = df.reset_index()
df.to_csv('output/dist_arrests_total.csv')
df.head(3)

type,year,police_dept,county,Aggravated Assault,All Other Offenses,Arson,Burglary,Curfew Violations,DUI,Disorderly Conduct,...,Other Family Offenses,Other Sex Offenses,Prostitution,Rape,Robbery,Runaways,Stolen Property,Vagrancy,Vandalism,Weapons
0,2001.0,Adams County Sheriff,ADAMS,127.0,4492.0,7.0,68.0,0.0,619.0,169.0,...,57.0,18.0,0.0,NaN,25.0,0.0,46.0,0.0,118.0,26.0
1,2001.0,Adams State College PD,ALAMOSA,2.0,4.0,1.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0
2,2001.0,Alamosa County Sheriff,ALAMOSA,1.0,171.0,0.0,0.0,0.0,97.0,0.0,...,11.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,8.0,0.0

## **Crime by District**

---

In [5]:
df = df_crime.copy()

# Group by the same keys as the Arrests data. This will remove subtype column automatically when we agg sum it
df = df.groupby(['year', 'type', 'police_dept', 'county']).agg('sum')
df = df.reset_index()

df = df.pivot(index=['year', 'police_dept', 'county'], columns='type')

df.columns = df.columns.droplevel()
df = df.reset_index()

df.to_csv('output/dist_crime_total.csv')

df.head(3)

type,year,police_dept,county,Arson,Assaults,Burglary,Larceny/Theft,Motor Vehicle Theft,Murder/Manslaughter,Negligent Manslaughter,Rape,Robbery
0,2001.0,Adams County Sheriff,ADAMS,60.0,906.0,794.0,2647.0,727.0,6.0,102.0,NaN,58.0
1,2001.0,Adams State College PD,ALAMOSA,2.0,5.0,4.0,51.0,1.0,0.0,0.0,NaN,0.0
2,2001.0,Alamosa County Sheriff,ALAMOSA,0.0,31.0,0.0,28.0,0.0,0.0,4.0,NaN,0.0